<a href="https://colab.research.google.com/github/ifediM/Hamoye_Lesson2/blob/main/ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import seaborn as sns
from sklearn.linear_model import LinearRegression

In [ ]:
df = pd.read_csv('energydata_complete.csv')
df.shape
df.isnull().sum()
df.duplicated().sum()
df.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [ ]:
#rename columns
column_names = {'T1':'Kitchen_Temp', 'RH_1': 'Kitchen_Humidity',
'T2': 'Room_Temp', 'RH_2': 'Room_Humidity', 'T3': 'Laundry_Temp',
'RH_3': 'Laundry_Humidity', 'T4': 'Office_Temp',
'RH_4': 'Office_Humidity','T5':'Bathroom_Temp',
'RH_5':'Bathroom_Hunidity','T6':'Outside_North_Temp',
'RH_6':'Outside_North_Humidity','T7':'Ironingroom_Temp',
'RH_7':'Ironingroom_Humidity',
'T8': 'Teenager_Temp', 'RH_8': 'Teenager_Humidity',
'T9':'Parents_Temp','RH_9':'Parents_Humidity'}
df = df.rename(columns=column_names)
df.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [ ]:
df.dtypes
df_1 = df.drop(columns=['date','lights'])
scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(df_1), columns=df_1.columns)
Features = normalised_df.drop(columns=['Appliances'])
Target = normalised_df['Appliances']
X = Features[['Room_Temp']]
Y = Features[['Outside_North_Temp']]

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(X, Y,
test_size=0.3, random_state=42)
linear_model = LinearRegression()

In [ ]:
#fit the model to the training dataset
linear_model.fit(x_train,y_train)

#obtain predictions
predicted_values = linear_model.predict(x_test)

In [ ]:
#R-Squared 
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 2)

0.64

In [ ]:
#Mean Absolute Error
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 2)

0.08

In [ ]:
#Residual Sum of Squares (RSS) 
import numpy as np
rss = np.sum(np.square(y_test - predicted_values))
round(rss, 2)

Outside_North_Temp    66.12
dtype: float64

In [ ]:
#Root Mean Square Error (RMSE) 
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.106

In [ ]:
#Coefficient of Determination(R2)
from sklearn.metrics import r2_score
Coef_D = r2_score(y_test, predicted_values)
round(Coef_D, 2)

0.64

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(Features, Target,
test_size=0.3, random_state=42)
linear_model_1 = LinearRegression()

#fit the model to the training dataset
linear_model_1.fit(x_train,y_train)

#obtain predictions
predicted_values = linear_model_1.predict(x_test)

In [ ]:
# Ridge Regression 
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)

Ridge(alpha=0.4, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [ ]:
#Root Mean Square Error (RMSE after Ridge) 
from sklearn.metrics import mean_squared_error
rmse_1= np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.106

In [ ]:
#Feature Selection and Lasso Regression 
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [ ]:
#Root Mean Square Error (RMSE after Lasso) 
from sklearn.metrics import mean_squared_error
rmse_2= np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.106

In [93]:
#comparing the effects of regularisation
def get_weights_df(model, feat, col_name):
#this function returns the weight of every feature
    weights = pd.Series(linear_model_1.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['features', col_name]
    weights_df[col_name].round(3)
    return weights_df

linear_model_weights = get_weights_df(linear_model_1, x_train, 'Linear_Model_Weight')
ridge_weights_df = get_weights_df(ridge_reg, x_train, 'Ridge_Weight')
lasso_weights_df = get_weights_df(lasso_reg, x_train, 'Lasso_weight')
final_weights = pd.merge(linear_model_weights, ridge_weights_df, on='features')
final_weights = pd.merge(final_weights, lasso_weights_df, on='features')

final_weights

                  features  Linear_Model_Weight  Ridge_Weight  Lasso_weight
0            Room_Humidity            -0.456698     -0.456698     -0.456698
1                    T_out            -0.321860     -0.321860     -0.321860
2                Room_Temp            -0.236178     -0.236178     -0.236178
3             Parents_Temp            -0.189941     -0.189941     -0.189941
4        Teenager_Humidity            -0.157595     -0.157595     -0.157595
5                   RH_out            -0.077671     -0.077671     -0.077671
6     Ironingroom_Humidity            -0.044614     -0.044614     -0.044614
7         Parents_Humidity            -0.039800     -0.039800     -0.039800
8            Bathroom_Temp            -0.015657     -0.015657     -0.015657
9             Kitchen_Temp            -0.003281     -0.003281     -0.003281
10                     rv1             0.000770      0.000770      0.000770
11                     rv2             0.000770      0.000770      0.000770
12             Press_mm_hg             0.006839      0.006839      0.006839
13        Ironingroom_Temp             0.010319      0.010319      0.010319
14              Visibility             0.012307      0.012307      0.012307
15       Bathroom_Hunidity             0.016006      0.016006      0.016006
16         Office_Humidity             0.026386      0.026386      0.026386
17             Office_Temp             0.028981      0.028981      0.028981
18               Windspeed             0.029183      0.029183      0.029183
19  Outside_North_Humidity             0.038049      0.038049      0.038049
20        Laundry_Humidity             0.096048      0.096048      0.096048
21           Teenager_Temp             0.101995      0.101995      0.101995
22               Tdewpoint             0.117758      0.117758      0.117758
23      Outside_North_Temp             0.236425      0.236425      0.236425
24            Laundry_Temp             0.290627      0.290627      0.290627
25        Kitchen_Humidity             0.553547      0.553547      0.553547