<a href="https://colab.research.google.com/github/ifediM/Hamoye_Lesson2/blob/main/ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import seaborn as sns
from sklearn.linear_model import LinearRegression

In [11]:
df = pd.read_csv('energydata_complete.csv')
df.shape
df.isnull().sum()
df.duplicated().sum()
df.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [14]:
#rename columns
column_names = {'T1':'Kitchen_Temp', 'RH_1': 'Kitchen_Humidity',
'T2': 'Room_Temp', 'RH_2': 'Room_Humidity', 'T3': 'Laundry_Temp',
'RH_3': 'Laundry_Humidity', 'T4': 'Office_Temp',
'RH_4': 'Office_Humidity','T5':'Bathroom_Temp',
'RH_5':'Bathroom_Hunidity','T6':'Outside_North_Temp',
'RH_6':'Outside_North_Humidity','T7':'Ironingroom_Temp',
'RH_7':'Ironingroom_Humidity',
'T8': 'Teenager_Temp', 'RH_8': 'Teenager_Humidity',
'T9':'Parents_Temp','RH_9':'Parents_Humidity'}
df = df.rename(columns=column_names)
df.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [45]:
df.dtypes
df_1 = df.drop(columns=['date','lights'])
scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(df_1), columns=df_1.columns)
Features = normalised_df.drop(columns=['Appliances'])
Target = normalised_df['Appliances']
X = Features[['Room_Temp']]
Y = Features[['Outside_North_Temp']]

In [46]:
x_train, x_test, y_train, y_test = train_test_split(X, Y,
test_size=0.3, random_state=42)
linear_model = LinearRegression()

In [48]:
#fit the model to the training dataset
linear_model.fit(x_train,y_train)

#obtain predictions
predicted_values = linear_model.predict(x_test)

In [50]:
#R-Squared 
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 2)

0.64

In [54]:
#Mean Absolute Error
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 2)

0.08

In [55]:
#Residual Sum of Squares (RSS) 
import numpy as np
rss = np.sum(np.square(y_test - predicted_values))
round(rss, 2)

Outside_North_Temp    66.12
dtype: float64

In [56]:
#Root Mean Square Error (RMSE) 
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.106

In [62]:
#Coefficient of Determination(R2)
from sklearn.metrics import r2_score
Coef_D = r2_score(y_test, predicted_values)
round(Coef_D, 2)

0.64